.button {
	-webkit-appearance:none;
	background-color: $c_blue;
	border-radius: 4px;
	border:1px solid $c_blue;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 25px;
	padding:14px 40px;
	text-align: center;
	width: 220px;

	&--disabled {
		background-color: rgba($c_blue, 0.5);
		border-color: transparent !important;
		pointer-events: none;
	}

	&:hover, &:focus, &:active {
		background-color: $c_blue_dark;
		border-color: $c_blue_dark;
		color: #FFFFFF;
		outline: none;
		box-shadow: none;
	}

	&--outline {
		background-color: transparent;
		color: $c_blue;

		&:hover {
			background-color: transparent;
			color: $c_blue_dark;
		}
	}

	& + & {
		margin-left: 17px;

		@media ($screen_xs_max) {
			margin-left: 0;
			margin-top: 20px;
			display: table;
		}
	}
}