.file {
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid $c_blue;
	box-sizing: border-box;
	color: $c_blue;
	cursor: pointer;
	flex:0 0 140px;
	height: 60px;
	padding-top: 37px;
	position: relative;
	width: 140px;



	& + & {
		margin-left: 10px;
	}


	&:before, &:after {
		background-color: $c_blue;
		content:'';
		display: inline-block;
		left: 0;
		margin:0 auto;
		position: absolute;
		right: 0;
	}

	&:before {
		height: 1px;
		top: 19px;
		width: 15px;
	}

	&:after {
		height: 15px;
		top: 12px;
		width: 1px;
	}

	&:hover {
		border-color: $c_blue_dark;
		color: $c_blue_dark;
		
		&:before, &:after {
			background-color: $c_blue_dark;
		}

	}

	&--doc {
		padding-top: 33px;

		& + & {
			margin-left: 20px;
		}

		&:before {
			top: 15px;
		}

		&:after {
			top: 8px;
		}
	}


	&--added {
		background-image: url('../img/file-icon.png');
		background-size: 26px auto;
		background-repeat: no-repeat;
		background-position: 50% 7px;


		&:before, &:after {
			display: none;
		}
	}

	&__name {
		font-size: 13px;
		line-height: 16px;
		overflow: hidden;
		padding: 0 9px;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__delete {
		display: none;
		width: 8px;
		height: 8px;
		position: absolute;
		right: 8px;
		top: 8px;
		cursor: pointer;
		background-image: url('../img/file-delete.svg');
		background-repeat: no-repeat;

		&:hover {
			background-image: url('../img/file-delete-dark.svg');
		}
	}

	&--added &__delete {
		display: block;
	}

	.dz-preview {
		display: none;
	}
}