.input {
	flex: 0 0 calc(50% - 10px);
	margin-bottom: 29px;
	position: relative;
	background-color: #fff !important;

	&--address {
		flex: 0 0 calc(60% - 10px);
	}

	&--price {
		flex: 0 0 calc(29.5% - 10px);
	}

	&:nth-child(even) {
		margin-left: 20px;

		@media ($screen_md_max) {
			margin-left: 0;
		}
	}

	&__top {
		align-items:center;
		display: flex;
		justify-content: space-between;
	}

	&__label {
		color: #484848;
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 0;
		padding-bottom: 5px;
	}

	&__description {
		color: #979797;
		font-size: 13px;
		line-height: 13px;
		padding-bottom: 6px;
		text-align: right;
	}

	&__field {
		border-radius: 5px;
		border: 1px solid #CCD6D8;
		color: #484848;
		font-size: 18px;
		height: 58px;
		padding-left: 19px;

		&:focus {
			border-color: rgba($c_blue,0.5);
			box-shadow: 0px 0px 5px rgba(66, 133, 244, 0.5);
			mix-blend-mode: normal;
		}
	}

	&--error &__field {
		border: 1px solid #FF7373;
		box-shadow: 0px 0px 5px rgba(255, 115, 115, 0.5);
	}

	&--ok &__field {
		border-color: #4285F4;
		background-image: url('../img/input-field-ok.svg') !important;
		background-repeat: no-repeat;
		background-position: right 12px top 50%;
		padding-right: 40px;
	}

	&__error {
		color: #F44336;
		display: none;
		font-size: 13px;
		line-height: 13px;
		position: absolute;
		right: 2px;
		text-align: right;
		top: 86px;
		transition: opacity .5s;

		a {
			color: #F44336;
			display: inline-block;
			background-image: linear-gradient(0deg, #F44336, #F44336);
			background-repeat: repeat-x;
			background-size: 1px 1px;
			background-position: left 0 bottom 0;
			padding-bottom: 2px;

			&:hover {
				color: darken(#F44336,15%);
				background-image: linear-gradient(0deg, darken(#F44336,15%), darken(#F44336,15%));
			}
		}

	}

	&--error &__error {
		display: block;
	}

	&--price &__error {
		width: 348px;
		text-align: left;
		margin-right: -131px;
		line-height: 14px;
	}
}