.step {
	background: #FFFFFF;
	border-radius: 5px;
	margin:82px auto 143px;
	max-width: 940px;
	overflow: hidden;
	padding: 67px 80px 53px;
	position: absolute;
	top: 0;
	transform: translateX(-3000px);
	transition: transform .9s;

	&:nth-child(2) {
		transform: translateX(3000px);
	}

	&--active {
		transform: translateX(0px) !important;
		position: relative;
		transition: transform .9s;
		overflow: auto;

	}

	@media ($screen_sm_max) {
		padding:40px 20px;
	}

	&__label {
		border-bottom: 5px solid $c_blue;
		color: #484848;
		display: table;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 30px;
	}

	&__fields {
		display: flex;
		flex-wrap: wrap;

		@media ($screen_md_max) {
			display: block;
		}
	}

	&__title {
		align-items:flex-end;
		display: flex;
		padding-bottom: 10px;
		padding-top: 11px;
		


		&__content {
			color: #484848;
			font-size: 25px;
			letter-spacing: 0.25px;
			line-height: 25px;
		}

		&__description {
			line-height: 13px;
			font-size: 13px;
			color: #979797;
			padding-bottom: 3px;
			padding-left: 31px;
		}

	}

	&__files {
		display: flex;

		&--docs {
			padding-top: 21px;
		}

		&__text {
			color: #484848;
			font-size: 13px;
			line-height: 15px;
			margin-left: 20px;
			max-width: 220px;
			padding-top: 7px;

			&__title {
				line-height: 18px;
				font-size: 18px;
				padding-bottom: 5px;
			}
		}

		&--docs &__text {
			padding-top: 1px;
			margin-left: 0;
			margin-right: 25px;
		}
	}

	&__buttons {
		padding-top: 50px;
		text-align: right;

		@media ($screen_xs_max) {
			text-align: left;
		}
	}

	&__price {
		color: #484848;
		display: none;
		font-size: 13px;
		line-height: 14px;
		margin-top: 25px;
		position: absolute;
		right: 19px;
		width: 121px;

		&__highlight {
			display: table;
			font-family: 'GraphikLCG-Bold';
		}


		&--show {
			display: block;
		}
	}

	&__text {
		color: #484848;
		font-size: 18px;
		line-height: 25px;
		margin-top: -5px;
		max-width: 460px;
		padding-bottom: 75px;
	}
}