/* Дефолтные стили */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

/* Формы */
input, textarea, button {
  font-family: $f_Graphik;
}

/* Аккуратные таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Основные стили */
html {
  background: #F2F2F2;
}

body {
  background: #F2F2F2;
  font-family: $f_Graphik;
  font-size: 14px;
  line-height: 20px;
  
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ссылки без дефолтного подчёркивания */
a {
  text-decoration: none;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}


.body {
  overflow: hidden;
  max-width: 100%;
  position: relative;
}

