@font-face {
    font-family: GraphikLCG-Regular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/GraphikLCG-Regular.woff2) format("woff2"), url(../fonts/GraphikLCG-Regular.woff) format("woff");
}
@font-face {
    font-family: GraphikLCG-Medium;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/GraphikLCG-Medium.woff2) format("woff2"), url(../fonts/GraphikLCG-Medium.woff) format("woff");
}
@font-face {
    font-family: GraphikLCG-Bold;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/GraphikLCG-Bold.woff2) format("woff2"), url(../fonts/GraphikLCG-Bold.woff) format("woff");
}