/* Переменные */

$f_Graphik: 'GraphikLCG-Regular';

$c_blue: #4285F4;
$c_blue_dark: #3477E4;



$screen_xs_max: 'max-width: 575px';

$screen_sm_min: 'min-width: 576px';
$screen_sm_max: 'max-width: 767px';

$screen_md_min: 'min-width: 768px';
$screen_md_max: 'max-width: 991px';

$screen_lg_min: 'min-width: 992px';
$screen_lg_max: 'max-width: 1289px';

$screen_xl_min: 'min-width: 1290px';
