{% extends "core/layout.twig" %}

{% block body %}
<form action="">
	<div class="step step--active" data-step="1">
		<div class="step__label">Шаг 1 из 2 | Личная информация</div>
		<div class="step__fields">
			<div class="input">
				<div class="input__top">
					<label for="name" class="input__label">Фамилия Имя Отчество</label>
				</div>
				<input type="text" id="name" name="name" class="input__field form-control required validate">
				<div class="input__error"></div>
			</div>
			<div class="input">
				<div class="input__top">
					<label for="birth_date" class="input__label">Дата рождения</label>
				</div>
				<input type="text" id="birth_date" name="birth_date" class="input__field form-control date-mask required validate">
				<div class="input__error"></div>
			</div>
			<div class="input">
				<div class="input__top">
					<label for="email" class="input__label">Почта</label>
					<div class="input__description">на этот адрес мы пришлём страховой полис</div>
				</div>
				<input type="text" id="email" name="email" class="input__field form-control required validate">
				<div class="input__error"></div>
			</div>
		</div>
		<div class="step__title">
			<div class="step__title__content">Паспортные данные</div>
		</div>
		<div class="step__fields">
			<div class="input">
				<div class="input__top">
					<label for="passport_num" class="input__label">Серия и номер</label>
					<div class="input__description">только паспорт РФ</div>
				</div>
				<input type="text" id="passport_num" name="passport_num" class="input__field form-control required">
				<div class="input__error"></div>
			</div>
			<div class="input">
				<div class="input__top">
					<label for="passport_given_by" class="input__label">Кем выдан</label>
				</div>
				<input type="text" id="passport_given_by" name="passport_given_by" class="input__field form-control required" placeholder="Заполните точно как в паспорте">
				<div class="input__error"></div>
			</div>
			<div class="input">
				<div class="input__top">
					<label for="passport_given_date" class="input__label">Когда выдан</label>
				</div>
				<input type="text" id="passport_given_date" name="passport_given_date" class="input__field form-control date-mask required validate">
				<div class="input__error"></div>
			</div>
			<div class="input">
				<div class="input__top">
					<label for="passport_code" class="input__label">Код подразделения</label>
				</div>
				<input type="text" id="passport_code" name="passport_code" class="input__field form-control" placeholder="000-000">
				<div class="input__error"></div>
			</div>
		</div>
		
		<div class="step__title">
			<div class="step__title__content">Фото документов</div>
			<div class="step__title__description">jpg, png, pdf, не больше 40 мб</div>
		</div>
		<div class="step__files">
			<div class="file" id="passport1">
				<div class="file__delete"></div>
				<div class="file__name">Паспорт, 2-3 стр.</div>
			</div>
			<div class="file" id="passport2">
				<div class="file__delete"></div>
				<div class="file__name">Паспорт, 19 стр.</div>
			</div>
			<div class="file" id="passport3">
				<div class="file__delete"></div>
				<div class="file__name">Фото с паспортом</div>
			</div>
			<div class="step__files__text">
				Мы&nbsp;надеждно храним и&nbsp;защищаем ваши личные данные и&nbsp;не передаем их&nbsp;третьим лицам
			</div>
		</div>
		<div class="step__buttons">
			<a href="#" class="button button--disabled" data-action="step2">Далее</a>
		</div>

	</div>

	<div class="step" data-step="2">
		<div class="step__label">Шаг 2 из 2 | О квартире</div>
		<div class="step__text">
			Мы&nbsp;составим договор аренды: в&nbsp;нем не&nbsp;будет упоминания залога, но&nbsp;будет пункт о&nbsp;страховке
		</div>
		<div class="step__fields step__fields--about">
			<div class="input input--address">
				<div class="input__top">
					<label for="address" class="input__label">Адрес: город, улица, дом, квартира</label>
				</div>
				<input type="text" name="address" id="address" class="input__field form-control required">
				<div class="input__error"></div>
			</div>
			<div class="input input--price">
				<div class="input__top">
					<label for="price" class="input__label">Стоимость аренды</label>
				</div>
				<input type="text" name="price" id="price" class="input__field form-control required validate">
				<div class="input__error"></div>
			</div>
			<div class="step__price">
				Стоимость страховки <span class="step__price__highlight"><span id="calculate"></span>₽/мес</span> (платит арендатор)
			</div>
			
		</div>
		<div class="step__files step__files--docs">
			<div class="step__files__text">
				<div class="step__files__text__title">Документы</div>
				<div class="step__files__text__content">договор аренды, доп. соглашение</div>
			</div>
			<div class="file file--doc" id="doc1">
				<div class="file__delete"></div>
				<div class="file__name">выбрать файл</div>
			</div>
			<div class="file file--doc" id="doc2">
				<div class="file__delete"></div>
				<div class="file__name">выбрать файл</div>
			</div>
			<div class="file file--doc" id="doc3">
				<div class="file__delete"></div>
				<div class="file__name">выбрать файл</div>
			</div>
			
		</div>
		
		<div class="step__buttons">
			<a href="#" class="button button--outline" data-action="step1">Назад</a>
			<button type="submit" class="button button--disabled" data-action="submit">Далее</button>
		</div>
		

	</div>
</form>


{% endblock %}